body {
    font-family: 'Cinzel', 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #EBE3D6; 
    padding: 0;
    animation: fadeIn 2s;
  }
 

  .loader {
    position: relative;
    text-align: center;
    font-size: 34px;
    color: #C8A25D;
  }
  .centered-div:before, 
  .centered-div:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .text {
    margin-top: 6%;
  }
  .img1 {
    height: 440px;
    width: 440px;
    margin-top: 8%;
    animation: rotate 20s linear infinite;
  }

  .centered-div {
    background-color: #271F11;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with 0 opacity */
    }
    to {
      opacity: 1; /* End with full opacity */
    }
  }
  @media screen {
    
  }